[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libs/shaderc"]
	path = libs/shaderc
	url = https://github.com/google/shaderc.git
[submodule "libs/spirv-cross"]
	path = libs/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
